.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    height: auto;
}
@media only screen and (max-width: 650px) {
    .row{
        flex-direction: column;
        align-items: center;
    }
    .row > *{
        margin-top: 20px;
        width: 600px;
    }
   
}